* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.big-text{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-family: "Lobaster", cursive;
    font-size: 5rem;
    color:  rgb(61, 61, 61);
}

.intro{
    background: #040f16;
    border-bottom: 3px solid #ffc857;
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider{
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
} 

.intro-text{
    color: #ffc857;
    font-family: "Heebo", sans-serif;
    font-size: 3rem;
}

.hide{
    overflow: hidden;
    height: 4rem;
}

.hide span{
    transform: translateY(100%);
    display: inline-block;
}